html,
body {
  margin: 0;
  padding: 0;
}

#card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 30px;
  padding: 50px;
  max-width: 250px;
}

.block2 {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: initial;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: rgb(184, 178, 178);
  font-size: small;
}

article {
  margin-left: 30px;
  line-height: 0;
}

.puntos{
  width: 20px;
  height: 20px;
  margin-right: 50px; 
}

p {
  color: white;
  font-weight: normal;
}
img {
  width: 250px;
  height: 200px;
}

.block1 a{
  color:black;
  text-decoration: none;
  font-weight: normal!important;
}
h4{
  font-weight: normal!important;
}
.box{
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.redes{
  width: 20px;
  height: 20px;
  margin-left: 10px;
  
}
span{
  display:grid;
  grid-template-columns: auto;
}

@media  (max-width: 768px) {
  #card  {
  display: inline-block;
   
  }
  .block2{
   flex-direction: column; 
  justify-content: space-between;
  
  } 
}

@media (max-width: 375px) {
  .block2 {
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-template-rows: (1, 1fr);
    gap:1rem;
  } 
}